.feature {
  display: flex;
  align-items: center;
  gap: 10px;
  img {
    background-color: rgb(254, 205, 81, 0.209);
  }
  .featureText {
    span {
      font-weight: bold;
    }
    p {
      font-size: 14px;
    }
  }
}
